* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "Impact";
}

.error-title {
    font-size: 300px;
    margin-bottom: 20px;
}

.error-message {
    font-size: 40px;
}
.Typewriter__cursor {
    color: yellow;
    width: auto;
    height: auto;
}
