.create-page-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-header-image-container {
    position: relative;
    width: 1000px;
    height: 500px;
    margin-bottom: 20px;
}

.create-header-image {
    width: 1000px;
    height: 500px;
    border-radius: 8px;
}

.create-circle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #ff0000; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-event-box {
    width: 1000px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #4b0082, #ff00ff);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.create-event-box h3 {
    font-size: 32px;
    font-weight: bold;
    color: #ffd905;
    margin: 0 0 10px 0;
    text-align: left;
}

.create-underline {
    width: 100%;
    height: 2px;
    background-color: #e5e5e5;
    margin-bottom: 20px;
}

.create-event-box input[type="text"],
.create-event-box input[type="date"],
.create-event-box input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.create-event-box .create-event-title-input,
.create-event-box .create-event-about-input {
    width: 100%;
}

.create-event-box .create-location-input-container {
    display: flex;
    align-items: center;
}

.create-event-box .create-online-checkbox {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.create-button-box {
    display: flex;
    justify-content: center;
}

.create-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #0056b3;
}